<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.springlogin.repository.MemberMapper">

    <insert id="insertMember" parameterType="Member">
      INSERT INTO Member (id, password, nickname)
      VALUES (#{id}, #{password}, #{nickname})
    </insert>

    <select id="findBySeq" parameterType="Long" resultType="Member">
      SELECT * FROM Member
      WHERE seq = #{seq}
    </select>

    <select id="loginCheck" parameterType="loginDTO" resultType="Member">
      SELECT * FROM Member
      WHERE id = #{id} and password = #{password}
    </select>

    <update id="myInfoEdit" parameterType="Member">
      UPDATE Member
      SET id = #{id}, password = #{password}, nickname = #{nickname}
      WHERE seq = #{seq}
    </update>

</mapper>