<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>회원 가입 폼</h2>
        </div>
        <form action="item.html" method="post">
            <div>
                <label for="itemName">회원 이메일</label>
                <input type="text" id="itemName" name="itemName" class="form-control" placeholder="이메일을 입력하세요">
            </div>
            <div>
                <label for="price">비밀번호</label>
                <input type="text" id="price" name="price" class="form-control"
                       placeholder="비밀번호를 입력하세요">
            </div>
            <div>
                <label for="quantity">닉네임</label>
                <input type="text" id="quantity" name="quantity" class="form-control" placeholder="닉네임을 입력하세요">
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">회원 가입</button>
                    <button class="btn btn-secondary"
                            th:onclick="|location.href='@{/member/account}'|"
                            onclick="location.href='index.html'" type="button">취소
                    </button>
                </div>
            </div>
        </form>
    </div> <!-- /container -->
    </body>
</html>